<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    <div class="container my-4 mt-4">

      <h3 class="text-center mb-4">About Us: Your AI & ML Engineers</h3>
      <p class="text-justify">Hello, we are <strong>Aastha Mehta</strong> and <strong>P. Navya Sree Goud</strong>, a passionate team of AI and Machine Learning Engineers. Together, we are working to create a cutting-edge, user-friendly healthcare platform, the <strong>HealthWise-Medicine Recommendation System</strong>. Our goal is to make healthcare more accessible and understandable, using the power of artificial intelligence to provide accurate predictions and recommendations.</p>

      <h3>Our Expertise</h3>
      <p><strong>Aastha Mehta</strong> is currently pursuing her Bachelor of Engineering in Computer Science with a specialization in AI and ML at Neil Gogte Institute of Technology, Hyderabad. With experience in deep learning models like DNA-BERT for biological data and ML tools like Gradient Boosting and MultinomialNB, Aastha brings a wealth of knowledge to the team.</p>
      <p><strong>P. Navya Sree Goud</strong> is also pursuing a degree in Computer Science with a focus on AI/ML. Navya is passionate about implementing machine learning algorithms and using technology to address real-world problems. Together, we are combining our expertise to deliver a robust healthcare platform.</p>

      <h3>A Commitment to Excellence</h3>
      <p>Our work is driven by a commitment to excellence, ensuring that every solution we create is not only innovative but also practical and easy for users to navigate. We focus on harnessing the latest AI and ML techniques to deliver precise, personalized health recommendations.</p>

      <h3>Passion for Health Tech</h3>
      <p>The <strong>HealthWise-Medicine Recommendation System</strong> is the result of our shared passion for AI and our dedication to improving healthcare accessibility. We believe that AI has the potential to revolutionize healthcare, making it more personalized and insightful. This platform is our way of contributing to that vision, helping individuals understand and manage their health with data-driven insights.</p>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>
